p{
    font-size: xx-large;
}

mat-card{
    color: white;
}

.newsList{
    background-color: #48C0E1;
}

.timeLogList{
    background-color: #cc71a0;
}

.leaveLog{
    background-color: #70759b;
}

.workLog{
    background-color: rgb(244, 178, 76);
}

.totalDays{
    background: #FFF;
    display: inline-block;
    padding: 2px 7px 4px 7px;
    margin: 0 0 0 4px;
    border-radius: 3px;
    color: #cc71a0;
    line-height: 1;
}